.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
body.scroll-lock {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
nav {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================================Common=================================== */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ================================Page header=================================== */
.page-top {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu,
.contacts {
  display: none;
}
.head-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo {
  display: block;
  padding: 16px 0;
}

.logo-top {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .page-top {
    height: 72px;
  }
  .burger-btn {
    display: none;
  }
  .main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .main-menu {
    display: flex;
    gap: 40px;
  }

  .main-menu-item {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-menu-item.current {
    position: relative;
  }

  .main-menu-item.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-menu-item:hover,
  .main-menu-item:focus,
  .contacts-item:hover,
  .contacts-item:focus,
  .main-menu-item.current {
    color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}
/* ================================Mobile menu=================================== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover .modal-close-btn-icon,
.mobile-menu-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

.mobile-nav {
}
.contacts-and-socials {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.mobile-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-top: 48px;
}
.mobile-nav-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-nav-list-item.current {
  color: #404bbf;
}

.mobile-menu-contacts {
}
.mobile-menu-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contacts-item.current {
  color: #4d5ae5;
}
.mobile-menu-socials {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.mobile-menu-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.mobile-menu-socials-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-socials-item-link:hover,
.mobile-menu-socials-item-link:focus {
  background-color: #404bbf;
}

.mobile-menu-socials-item-icon {
  fill: #f4f4fd;
}
/* ================================Main action=================================== */
.main-action {
  max-width: 767px;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media screen and (min-resolution: 2x) {
  .main-action {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile-2x.jpg);
  }
}
.main-line {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin: 0 auto 72px;
}

.main-action-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Tablet */
@media screen and (min-width: 768px) {
  .main-action {
    max-width: 1157px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .main-action {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet-2x.jpg);
    }
  }

  .main-line {
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .main-action {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.jpg);
  }
  @media screen and (min-resolution: 2x) {
    .main-action {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desktop-2x.jpg);
    }
  }
  .main-line {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .main-action-btn:hover,
  .main-action-btn:focus {
    background-color: #404bbf;
  }
}
/* ================================Standarts=================================== */
.standarts {
  padding: 96px 0;
}
.standarts-list > li:last-child > .section-text {
  margin: 0;
}
.standarts-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.standarts .section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 72px;
}

.standarts-list-item-icon-box {
  display: none;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .standarts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .standarts-list-item {
    width: calc((100% - 24px) / 2);
  }
  .standarts-header {
    text-align: left;
  }
  .section-text {
    margin: 0;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .standarts {
    padding: 120px 0;
  }
  .standarts-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .standarts-list-item {
    width: calc((100% - 72px) / 4);
  }
  .standarts-list-item-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
  .standarts-list-item-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
  }
}
/* ================================Team display=================================== */
.team-display {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.section-header {
  /*h2*/
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.flex-team {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.team-members {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 32px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-member {
  display: block;
  flex-grow: 0;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-members-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-display .section-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-members-socials {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.team-members-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .flex-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-members {
    width: 264px;
    height: 428px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .team-display {
    padding: 120px 0;
  }
  .team-member-info {
    padding: 32px 0;
  }

  .team-members-header {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-members-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
  }

  .team-members-socials-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-members-socials-item-link:hover,
  .team-members-socials-item-link:focus {
    background-color: #404bbf;
  }
}
/* ================================Portfolio=================================== */
.portfolio {
  padding: 96px 0;
}
.portfolio-items {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.portfolio-item-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overlay {
  transform: translateY(0);
}
.portfolio-item-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-descr > .standarts-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .portfolio-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 2);
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-items {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .portfolio-item-overlay {
    transform: translateY(0);
  }
}
/* ================================Footer=================================== */
.bottom {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-flex-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  background-color: #2e2f42;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.logo-bottom {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  background-color: #2e2f42;
  text-align: left;
  letter-spacing: 0.02em;
  width: 288px;
}
.footer-socials-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}
.footer-socials-box-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-socials-box-icon-list {
  display: flex;
  gap: 16px;
}
.footer-socials-box-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-socials-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.bottom-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.bottom-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.bottom-subscribe-form-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  margin-bottom: 16px;
}

.bottom-subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  align-self: flex-end;
  border: none;
  margin: 0 auto;
}
.subscribe-btn-icon {
  fill: #fff;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .footer-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: flex-start;
    padding-left: 108px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-socials-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin: 0;
  }
  .footer-socials-box-text {
    text-align: left;
  }
  .bottom-subscribe {
    display: block;
    width: 453px;
  }
  .bottom-subscribe-label {
    display: block;
    margin-bottom: 16px;
  }
  .input-and-button {
    display: flex;
    gap: 24px;
  }
  .bottom-subscribe-form-input {
    margin: 0;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .bottom {
    padding: 100px 0;
  }

  .footer-flex-container {
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 80px;
    padding: 0;
  }

  .footer-logo-text-box {
    margin-right: 40px;
  }

  .footer-logo {
    line-height: 1.17;
    display: inline-block;
  }

  .logo-bottom {
    color: #f4f4fd;
  }

  .footer-text {
    width: 264px;
    margin-bottom: 16px;
  }

  .footer-socials-box {
    margin-right: 0;
  }

  .footer-socials-box-text {
    margin-bottom: 16px;
  }

  .footer-socials-box-list-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-box-list-link:hover,
  .footer-socials-box-list-link:focus {
    background-color: #31d0aa;
  }

  .bottom-subscribe-form {
    gap: 24px;
  }
  .bottom-subscribe-text {
    margin-bottom: 16px;
  }

  .bottom-subscribe-form-input {
    width: 264px;
  }
}
/* ================================Modal=================================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 16px 16px 24px;
  width: 288px;
  min-height: 584px;
  max-height: 624px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-form-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-wrapper {
  margin-bottom: 8px;
}

.textarea-wrapper {
  margin-bottom: 16px;
}
.modal-input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-with-icon {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-bottom: 8px;
}

.modal-form-input,
.modal-form-textarea {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-with-icon:focus-within .input-icon {
  fill: #4d5ae5;
}
.modal-form-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  height: 120px;
  resize: none;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-checkbox-input:checked + .modal-checkbox-privacy-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-form-submit-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  align-self: center;
  border: none;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    transform: translate(-50%, -65%);
    max-height: fit-content;
  }
}

@media screen and (min-width: 1158px) {
  .modal-form-close-btn:hover,
  .modal-form-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-form-close-btn:hover .modal-close-btn-icon,
  .modal-form-close-btn:focus .modal-close-btn-icon {
    fill: #fff;
  }

  .modal-form {
    margin-top: 48px;
    margin-bottom: 16px;
  }

  .modal-form-input:focus,
  .modal-form-textarea:focus {
    border-color: #4d5ae5;
  }

  .modal-form-submit-btn:hover {
    background-color: #404bbf;
  }
}
